{% extends 'base.html' %}
{% block title %}
    500 Internal Error-服务器内部错误
{% endblock %}
{% block content %}
<div id="wrap">
    <div class="container" id="content-main">
            <div class="panel panel-default col-md-6 col-md-offset-3">
                <div class="text-center alert alert-danger" style="margin-top:10px;">
                    <p>服务器内部错误</p>
                </div>
                <a href="{% url 'nj:index' %}" class="btn btn-block btn-info" style="margin-bottom:10px;">返回首页</a>
            </div>
    </div>
</div>
{% endblock %}