{% extends 'base.html' %}
{% block content %}
<div id="wrap">
    <div class="container" id="main">
      <div class="row">
        <div class="col-md-8" id="left">
            {# each movie;s information  at left#}
            {% include 'movie-info.html' %}
        </div><!--end left-->
        <div class="col-md-4" id="right">
            {# user's information  at right up#}
            {% include 'submit.html' %}
            {% include 'site-info.html' %}
        </div><!--end right-->
      </div><!--end outter row-->
    </div><!--end main-->
</div>
{% endblock %}

{% block comment %}
<div id="wrap">
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-8" id="left">
               {# the movie's comments at down #}
               {% include "movie-comment.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
