<footer id="footer">
            <div class="container clearfix">
                <div class="text-muted pull-left">
                   <p>
					Inspired by <a target="_blank" href="//python-china.org">Python-China</a>.
					A <a target="_blank" href="//djangoproject.com">Django</a> project</p>
                </div>
                <p class="muted credit pull-right">
                    ©
                    <time datetime="2014-05-10 09:28:28">
                        2014
                    </time>
                    Code by <a href="https://github.com/NlxF/dianyings">NlxF</a> 0.0.1.
                </p>
            </div>
</footer>