{% extends 'base.html' %}

{% block content %}
<div id="wrap">
<div class="container">
        <div class="box_wrapper">
            <div class="box">
                <div>
                    <div class="head">
                        <h4>
                            欢迎再来！
                        </h4>
                    </div>
                    <div class="form">
                        <p>两秒钟后转入如下链接，如果长时间没有响应请直接点击：<a href="{{ refresh_url }}">首页</a></p>
                        <meta http-equiv="refresh" content="2;url={{ refresh_url }}">
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
{% endblock %}